<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue的指令系统练习</title>
    <style type="text/css">
        .box{
            width:300px;
            height:300px;
            background-color: red;
        }
        .active{
            background-color: green;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>{{msg}}</h2>
        <p v-text = "msg"></p> 
        <div v-html="msg2"></div>  
        <div v-text="1+1"></div>
        <div v-if="isShow">澳门赌场开业了</div>
        <div v-if="!isShow">澳门赌场倒闭了</div>
        <div v-if="Math.random() > 0.5">
            已显示
        </div>
        <div v-else>
            已隐藏
        </div>
        <div v-show = "isShow">显示</div>
        <div v-show = "!isShow">隐藏</div>
        <div class="box" @click="clickHandler" v-bind:aaa="text" v-bind:class="{active:isGreen}"></div>
        
        <ul>
            <li v-for= '(item,index) in menuLists'>
                <h5 v-text="item.id"></h5>
                <h3>{{item.name}}</h3>
                <em>{{item.price}}</em>
            </li>
        </ul>

        <ul>
            <li v-for="(value,key) in person">
                {{key}}==={{value}}
            </li>
        </ul>

    </div>
    <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el:"#app",
            data:function(){
                return {
                    msg:'指令系统',
                    msg2:'<h2>指令系统2</h2>',
                    isShow:true,
                    isGreen:false,
                    text:'哈哈哈',
                    menuLists:[
                        {id:1,name:'大腰子',price:70},
                        {id:2,name:'宫爆鸡丁',price:40},
                        {id:3,name:'炸黄花鱼',price:60}
                    ],
                    person:{
                        name:'大白',
                        age:20,
                        fav:'av'
                    }
                }
            },
            methods:{
                clickHandler(e){
                    console.log(this);//this指的是当前的实例化对象
                    this.isGreen = !this.isGreen;//数据属性改变的时候重新渲染DOM
                }
            } 
        });
    </script>
</body>
</html>